.maincontainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    /* transition: transform 150ms ease-in-out 0s, opacity 150ms ease-in-out 0s; */
    transition-duration: 150ms;
    transform-origin: right top;
    animation: 0.2s ease-in;
}

.selectedbtn{
    background-color: gray !important;
}
.selectedbtn p{
    color: white!important;
}

.createcard{
    width: 45rem;
    height: 27rem;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2.5rem;
    transition: transform 150ms ease-in-out 0s, opacity 150ms ease-in-out 0s;
    transform-origin: right top;
}

.createcard h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.createcard h2 span{
    color: red;
}
.createcard > input{
    width: 97%;
    padding: 1rem 10px;
    border-radius: 5px;
    border: 3px solid #4D40551A;
    font-size: 1rem;
}

.createcard .selectpriority{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createcard .selectpriority > p{
    font-weight: 500;
}
.createcard .selectpriority > p span{
    color: red;
}
.createcard .selectpriority button{
    display: flex;
    align-items: center;
    padding: 8px 1rem;
    border-radius: 10px;
    border: 3px solid #4D40551A;
    background-color: white;
    cursor: pointer;
}

.createcard > p{
    font-weight: 500;
}
.createcard > p span{
    color: red;
}
.createcard .selectpriority button > p{
    margin: 0px;
    color: gray;
    font-weight: 500;
    margin-left: 8px;
}
.createcard .selectpriority button:hover{
    background-color: gray;
    color: white!important;
}

.createcard .selectpriority button:hover p{
    color: white!important;
}
.createcard .addnew{
    display: flex;
    width: 15%;
    align-items: center;
    cursor: pointer;
}

.createcard .addnew:hover{
    text-decoration: underline;
}

.createcard .addnew > p{
    margin-left: 8px;
    color: gray;
}

.createcard .savebutton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.createcard .savebutton > input{
    margin: 0px;
    width: 8rem;
    padding:1rem 1rem;
    border-radius: 10px;
    border: 3px solid #4D40551A;
    font-size: 1rem;
    cursor: pointer;
    color: gray;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}

.createcard .savebutton button{
    margin: 0px;
    width: 10rem;
    padding:1rem 0px;
    border-radius: 15px;
    border: 3px solid gray;
    font-size: 1rem;
    cursor: pointer;
}

.createcard .savebutton > button{
    background-color: #fff;
}

.createcard .savebutton > div button:first-child{
    border: 1px solid #CF3636;
    background-color: #fff;
    color: #CF3636;
}

.createcard .savebutton > div button:last-child{
    background-color: #17A2B8;
    margin-left: 8px;
    color : #fff;
    border: none;
}

.createcard .checklistcontainer{
    width: 100%;
    height: 8rem;
    overflow: auto;
}

.createcard .checklistcontainer2{
    width: 100%;
    overflow: auto;
}

.createcard .checklistcontainer div{
    position: relative;
}
.createcard .checklistcontainer2 div{
    position: relative;
}

.createcard .checklistcontainer input{
    padding: 12px 0px;
    border-radius: 10px;
    border: 3px solid #4D40551A;
    margin-bottom: 1rem;
    outline: none;
    font-size: 1rem;
    padding-left: 2.4rem;
    padding-right: 2.6rem;
}
.createcard .checklistcontainer2 input{
    padding: 12px 0px;
    border-radius: 10px;
    border: 3px solid #4D40551A;
    margin-bottom: 1rem;
    outline: none;
    font-size: 1rem;
    padding-left: 2.4rem;
    padding-right: 2.6rem;
}

.createcard .checklistcontainer input:first-child{
    position: absolute;
    top : 12px;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
}
.createcard .checklistcontainer2 input:first-child{
    position: absolute;
    top : 12px;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
}

.createcard .checklistcontainer input:nth-child(2){
    width: 88%;
}
.createcard .checklistcontainer2 input:nth-child(2){
    width: 88%;
}

.createcard .checklistcontainer img{
    position: absolute;
    top : 12px;
    right : 1.4rem;
    cursor: pointer;
}
.createcard .checklistcontainer2 img{
    position: absolute;
    top : 12px;
    right : 1.4rem;
    cursor: pointer;
}
